body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #C6E3DE;
}

.canvas {
  position: relative;
  margin: 8% auto;
  display: block;
  width: 640px;
  height: 480px;
}

.body {
  position: absolute;
  width: 319px;
  height: 413px;
  background: #1895E5;
  border-radius: 50%;
  left: 135px;
  z-index: 2;
}

.body:before {
  content: '';
  height: 210px;
  width: 171px;
  background: #0469ed;
  position: absolute;
  border-radius: 50%;
  top: 40px;
  right: 160px;
  transform: rotate(10deg);
}

.body:after {
  content: '';
  height: 210px;
  width: 171px;
  background: #0469ed;
  position: absolute;
  border-radius: 50%;
  top: 40px;
  left: 160px;
  transform: rotate(-10deg);
}

.eye {
  position: absolute;
  width: 180px;
  height: 180px;
  background: #D0BDEB;
  border-radius: 50%;
  top: 75px;
  z-index: 2;
}

.eye.left {
  right: 170px;
  box-shadow: 6px -5px #053796,
    -1px -8px #0469ed inset;
}

.eye.right {
  left: 170px;
  box-shadow: -6px -5px #053796,
    -1px -8px #0469ed inset;;
}

.iris {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  background: #F047BC;
  background: -webkit-linear-gradient(#6C1296, #F047BC);
  background: -o-linear-gradient(#6C1296, #F047BC);
  background: -moz-linear-gradient(#6C1296, #F047BC);
  background: linear-gradient(#6C1296, #F047BC);
  top: 18px;
}

.left .iris {
  right: 0px;
}

.right .iris {
  left: 0px;
}

.iris:before {
  content: '';
  width: 120px;
  height: 120px;
  background: #0d0c14;
  position: absolute;
  border-radius: 50%;
  top: 20px;
  left: 25px;
}

.right .iris:before {
  left: 10px;
}

.iris:after {
  content: '';
  background: #F5F5F7;
  width: 48px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
  top: 21px;
  left: 76px;
  transform: rotate(10deg);
}

.right .iris:after {
  left: 65px;
}

.mouth {
  width: 121px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  border-bottom: 10px solid #001767;
  top: 285px;
  left: 100px;
}

.tail {
  background: #fdfc40;
  width: 98px;
  height: 240px;
  position: absolute;
  top: 130px;
  transform: rotate(-10deg);
  left: 30px;
}

.tail:after {
  content: '';
  height: 240px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  background: #fdfc40;
  left: -25px;
}

.tail .inner:after {
  content: '';
  background: #C6E3DE;
  border-radius: 50%;
  width: 400px;
  height: 190px;
  position: absolute;
  top: -176px;
  left: -203px;
  transform: rotate(30deg);
}

.tail .inner {
  background: #2c3c2f;
  width: 88px;
  height: 159px;
  position: absolute;
  top: 34px;
  z-index: 1;
  left: 95px;
}

.tail:before {
  content: '';
  width: 60px;
  height: 159px;
  border-radius: 50%;
  background: #2c3c2f;
  position: absolute;
  left: 60px;
  top: 50px;
}

.tail .inner:before {
  content: '';
  width: 400px;
  height: 190px;
  border-radius: 50%;
  background: #C6E3DE;
  position: absolute;
  left: -203px;
  top: 161px;
  transform: rotate(-30deg);
}

.fin.left{
  width: 200px;
  height: 190px;
  background: #fdfc40;
  -webkit-clip-path: polygon(0px 190px,179px 95px,0px 0px);
  clip-path: polygon(0px 100px,134px 50px,0px 0px);
  position: absolute;
  z-index: 1;
  top: 333px;
  left: 106px;
  border-radius: 50%;
}

.fin.left:before {
  content: '';
  width: 200px;
  height: 190px;
  background: #2c3c2f;
  -webkit-clip-path: polygon(0px 190px,179px 95px,0px 0px);
  clip-path: polygon(0px 90px,134px 45px,0px 0px);
  position: absolute;
  z-index: 1;
  left: 40px;
  border-radius: 50%;
}

.fin.right {
  width: 200px;
  height: 130px;
  background: #fdfc40;
  -webkit-clip-path: polygon(0px 75px,241px 151px,241px 0px);
  clip-path: polygon(0px 55px,240px 110px,240px 0px);
  z-index: 1;
  position: absolute;
  top: 307px;
  right: 121px;
  border-radius: 50%;
}

.fin.right:before {
  content: '';
  width: 200px;
  height: 130px;
  background: #2c3c2f;
  -webkit-clip-path: polygon(0px 75px,241px 151px,241px 0px);
  clip-path: polygon(0px 55px,240px 110px,240px 0px);
  position: absolute;
  border-radius: 50%;
  right: 47px;
}

.shadow {
  background: #ACA794;
  width: 300px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 470px;
  left: 150px;
}